:root {
  background-color: #131515;
  color: #51FFFF;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#page-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#aquapants-header {
  margin: 1em;
  padding-bottom: 1em;
}

#aquapants-header h1 {
  font-family: "Slackey", "Helvetica", "Arial";
  font-style: italic;
  font-variant: small-caps;
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 0;
}

#aquapants-header p {
  margin: 0;
  float: right;
  color: #FFFAFB;
  font-family: "Palanquin Dark"
}

q {
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 1.2em;
}


@media screen and (max-width: 620px) {
  #aquapants-header h1 {
    font-size: 2.5em;
  }

  q {
    font-size: 1em;
  }
}

#links {
  background-color: #FFA69E;
  border-radius: 100%;
  padding: 0.5em;
}

#links a {
  display: flex;
}

#links a:hover img {
  transform: translate3d(0, -.2em, 0);
}